
# BEGIN EnvatoBackup
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=88e92f7337004d74e0aecce576041709
RewriteRule (.*) - [F]
</IfModule>

# END EnvatoBackup